<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BSIDCertificates.Properties.Settings.BridgestoneCalConnectionString"
            connectionString="Data Source=SG2NWPLS19SQL-v06.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=BridgestoneCal;User ID=bsid_admin;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>